@using  Microsoft.AspNetCore.Http
@model Athena.Models.Request

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_arsha.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="float-left">Details</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">

            <div class="col-8 offset-2">
                <h4>Request</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedOn)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedByUser)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CreatedByUser.UserName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                </dl>

                <div>
                    @if (Context.Session.GetString("Role") != "staff")
                    {
                    <span>
                        <a asp-action="Edit" asp-route-id="@Model.RequestId">Edit</a> |
                    </span>
                        }
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </section>
</main>
